* {
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


img{
    width: 15rem;
    
}

td{
    justify-items: center;
}


body {
    background: linear-gradient(90deg, rgba(191,186,186,1) 9%, rgba(170,191,186,1) 16%, rgba(135,149,146,1) 46%, rgba(159,175,179,1) 100%, rgba(254,254,254,1) 100%, rgba(0,0,0,1) 100%);
}

h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#store-container{
    padding: 20px;
    display: flex;
    gap: 10px;

}

.item {
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.432);
}



#shopping-cart-container{
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: 0;
    width: 300px;
    border: solid 1px rgb(255, 255, 255);
    padding: 1rem;
}


.show {
    display: block;
}

.hide{
    display: none;
}


.item .title{
    font-weight: bold;
}

.item .precio{
    color: green;
    font-weight: bold;
}

.item div{
    padding: 5px 0;
}

.total{
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

button{
    border: none;
    background-color: rgb(241, 217, 28);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.card{
    margin: 3px;
    padding: 3px;
}